body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header, .heading .container, .quote, .call, .footer{
    padding: 0% 12%;
}

.header{ 
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    background-color: #1F2937;
}

.header-logo{
    font-size: 18px;
}

.intro{ 
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 10%;
    padding-bottom: 10%;
}

.intro-left{
    flex: 1;
}

.intro-left h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.intro-left p{
    font-size: 18px;
    color: #E5E7EB
}

.intro-left .signup{
    background-color: grey;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
}

.intro-left .signup:hover{
    background-color: #e5e7eb;
    color: #1f2937;
    border-radius: 8px;
}

.intro-right{  
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    flex: 1;
}

.header-links{ 
    display: flex;
    align-items: center;  
}

.header-links ul{
    display: flex;
    gap: 16px;
    padding: 0;
    margin-left: auto;
}

.header-links li{
    list-style-type: none;
}

.header-links li a{
    text-decoration: none;
    color: #F9FAF8
}

.main .heading{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: #1F2937;
    padding-top: 3%;
    padding-bottom: 1%;
}

.container{
    display: flex;
    justify-content: space-evenly;
    padding: 3% 15%;
}

.card{
    width: 150px;
}

.imageplaceholder{
    width: 150px;
    height: 150px;
    display: block;
    border: #3882F6 solid;
    border-radius: 10px;
}

.subtext{
    padding: 5px;
    text-align: center;
}

.quote{
    padding-top: 10%;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.mainquote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.person{
    color: #1f2937;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
    padding-bottom: 10%;
    padding-right: 2%;
}

.callcontainer{
    padding: 8% 13%;
}
.call{
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 3%;
}

.calltext{
    display: flex;
    flex-direction: column;
    color: white;
}

.callprimary{
    font-weight: bold;
    font-size: 20px;
}

.signupbutton{
    color: white;
    font-weight: bold;
    border: solid white 1px;
    border-radius: 10px;
}

.signupbutton:hover{
    background-color: white;
    color: #3882F6;
    border: solid white 1px;
    border-radius: 10px;
}

.signupbutton a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
}

a:visited{
    text-decoration: none;
    color: inherit; 
}

.footer{
    display: flex;
    justify-content: center;
    padding: 5% 0;
    background-color: #1F2937;
    color: white;
}

